<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The online home of the Ramblin' Reck Club, a campus organization at the Georgia Institute of Technology dedicated to the promotion of Georgia Tech traditions and spirit and responsible for the Institute's mascot car - the Ramblin' Reck.">
    <meta name="author" content="Ramblin' Reck Club">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="py-3 text-center">
        <img class="d-block mx-auto mb-4 mt-4" src="/img/brand/official-logo.png" alt="" width="150" height="150">
        <h2>Request Big Buzz</h2>
        <p class="lead">If you would like to have Big Buzz appear at your event, please send in a request through the form below. Student organizations will be charged <b>$20 for the first hour</b> and <b>$5 for every subsequent hour</b>. Campus offices will be charged <b>$50 for the first hour</b> and <b>$10 for every subsequent hour</b>.</p>
        <p><b>NOTE: This is NOT a request for Buzz the mascot, but rather it is to request a giant inflatable Buzz as seen in the picture below.</b></p>
        <p>You can request Buzz the mascot here: <a href="http://www.ramblinwreck.com/requests.html">http://www.ramblinwreck.com/requests.html</a></p>
        <img src="/img/promo/big-buzz.jpg" class="img img-responsive rounded" width="500px">
    </div>
    <div class="message-space row"></div>
    <div class="row">
        <div id="request-form" class="offset-xl-1 col-xl-10 offset-lg-2 col-lg-8 offset-md-3 col-md-6">
            <h4 class="mb-3">Request Details</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="event-name">Name</label>
                        <input type="text" class="form-control" id="renter-name" placeholder="George P. Burdell" value="" required="">
                        <div class="invalid-feedback">
                            Valid name is required.
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="event-name">Email</label>
                        <input type="email" class="form-control" id="renter-email" placeholder="gpb@gatech.edu" value="" required="">
                        <div class="invalid-feedback">
                            Valid email is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="event-name">Event name</label>
                        <input type="text" class="form-control" id="event-name" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid event name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="event-name">Event location</label>
                        <input type="text" class="form-control" id="event-location" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid event location is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="event-name">Event details</label>
                        <textarea class="form-control" id="event-details" placeholder="Please provide all important setup details, event start/end times, and other pertinent information here." value=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="event-month">Event Month</label>
                        <select class="custom-select d-block w-100" id="event-month" required="">
                            <% var months = ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                            <% months.forEach(function(month) { %>
                            <option value="<%= month %>"
                                    <% if (month == moment().format('MMMM')) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            ><%= month %></option>
                            <%});%>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid month.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="event-day">Event Day</label>
                        <select class="custom-select d-block w-100" id="event-day" required="">
                            <% for (var i = 1; i < 32; i++) { %>
                            <option value="<%= i %>"
                                    <% if (i == moment().format('D')) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            ><%= i %></option>
                            <%}%>
                        </select>
                        <!--<input type="text" class="form-control" id="event-day" placeholder="" required="">-->
                        <div class="invalid-feedback">
                            Event day required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="event-year">Event Year</label>
                        <select class="custom-select d-block w-100" id="event-year" required="">
                            <% var year = moment().format('YYYY'); %>
                            <option selected="selected" value="<%= year %>"><%=year %></option>
                        </select>
                        <div class="invalid-feedback">
                            Event year required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button id="submit-request-button" class="btn btn-primary btn-lg btn-block" type="submit">Submit request</button>
            </form>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
<script>
    function createEvent() {
        $('#submit-request-button').attr('disabled','disabled')
        $('#submit-request-button').html('Submitting request...');
        $.ajax({
            url: '/big-buzz/request',
            type: 'PUT',
            data: {
                renterName: $('#renter-name').val(),
                renterEmail: $('#renter-email').val(),
                eventDetails: $('#event-details').val(),
                eventName: $('#event-name').val(),
                eventLocation: $('#event-location').val(),
                eventDate: moment($('#event-month').val() + ' ' + $('#event-day').val() + ', ' + $('#event-year').val()).format()
            },
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function(result) {
                console.log(result);
                // window.location.replace('/points');
                $('#request-form').html("<div class=\"alert alert-success\" role=\"alert\">Your request has been successfully submitted! Return to <a href=\"/\">the home page</a>.</div>");
            },
            error: function(error) {
                console.log(error);
                $('#request-form').remove();
                $('.message-space').html("    <div class=\"alert alert-danger alert-dismissible show fade\" role=\"alert\">\n" +
                    "        <strong>Error!</strong> <span id=\"error-message\">" + error.responseJSON.detailedMessage.message + "</span>\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                    "            <span aria-hidden=\"true\">&times;</span>\n" +
                    "        </button>\n" +
                    "    </div>");
            }
        })
    }

    (function() {
        'use strict';

        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    if (form.checkValidity() === false) {
                        event.stopPropagation();
                    } else {
                        createEvent();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


</body></html>