<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<%- include partials/header.ejs %>
<div class="container mb-3">
    <div class="row justify-content-between">
        <h2 class="col-auto">Events</h2>
        <ul class="col-auto nav">
            <li class="nav-item">
                <div class="dropdown">
                    <select class="custom-select d-block w-100" id="select-event-month">
                        <% var months = ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                        <% months.forEach(function(mnth, idx) { %>
                        <% var monthString = mnth + ' ' + moment().format('YYYY'); %>
                        <option value="<%= idx %>"
                                <% if (idx == (month - 1)) { %>
                                <% %>
                                selected="selected"
                                <% } %>
                        ><%= monthString %></option>
                        <%});%>
                    </select>
                </div>
            </li>
            <% if (user.isAdmin) { %>
            <li class="nav-item ml-1">
                <a class="btn btn-primary btn-md" href="/events/create">
                    <i class="fas fa-plus"> </i> Add Event
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <table class="table table-responsive-lg mb-3">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col" class="align-content-end" style="text-align:right;">Points</th>
        </tr>
        </thead>
        <tbody>
        <% events.sort(function(a, b) {
            a = new Date(a.date);
            b = new Date(b.date);
            return a > b ? -1 : a < b ? 1 : 0;
        });%>
        <% if (events.length > 0) { %>
        <% events.forEach(function(item) { %>
        <tr>
            <%
                var checked = false;
                if (user.hasOwnProperty('events') && user.events.indexOf(item.id) != -1) {
                    checked = true;
                }
            %>
            <th>
                <% if (checked) { %>
                <input class="custom-control custom-checkbox" type="checkbox" aria-label="Checkbox for event <%=item.id%>" checked="true">
                <% } else { %>
                <input class="custom-control custom-checkbox" type="checkbox" aria-label="Checkbox for event <%=item.id%>">
                <% } %>
            </th>
            <td><%= moment(item.date).format("M/D") %></td>
            <td>
                <% if (user.isAdmin || user.isEventAdmin) { %>
                <a class="btn-link" href="/events/update/<%= item.id %>"><%= item.name %></a>
                <% } else { %>
                <%= item.name %>
                <% } %>
                <% if (item.bonus == true || item.bonus === 'true') { %> <span class="text-muted">(BONUS)</span> <% } %> <% if (item.family == true || item.family === 'true') { %> <span class="text-muted">(FAMILY)</span> <% } %> <span class="badge badge-primary"><%= item.type %></span>
            </td>
            <td align="right"><%= item.points %></td>
        </tr>
        <%});%>
        <% } %>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg-auto">
        </div>
        <div class="col-lg-auto justify-content-end">
            <button type="button" class="btn btn-primary float-right">Submit</button>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
<script>
    $('#select-event-month').on('change', function(event) {
        event.preventDefault();
        console.log("val: " + $('#select-event-month').val());
       var mmtDate = moment().month($('#select-event-month').val());
       //console.log(mmtDate);
       window.location.replace('/events/list/year/' + mmtDate.year() + '/month/' + (mmtDate.month() + 1));
    });
</script>
</body>

</html>
