<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<%- include partials/header.ejs %>
<div class="container mb-3">
    <div class="row justify-content-between">
        <h2 class="col-auto">Families</h2>
        <ul class="col-auto nav">
            <% if (user.isAdmin) { %>
            <li class="nav-item ml-1">
                <a class="btn btn-primary btn-md" href="/families/create">
                    <i class="fas fa-plus"> </i> Add Family
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <% families.sort(function(a, b) {
        if (a.hasOwnProperty('points')) {
            return (a.points > b.points) ? -1 : (a.points < b.points) ? 1 : (a.name < b.name) ? -1 : 0;
        } else {
            return (a.name < b.name) ? -1 : (a.name > b.name) ? 1 : 0;
        }
    });%>
    <% if (families.length > 0) { %>
    <table class="table table-responsive-xs mb-3">
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Family Name</th>
            <th scope="col">Total Points</th>
        </tr>
        </thead>
        <tbody>
        <% families.forEach(function(item, idx) { %>
        <tr>
            <td><%= (idx + 1) %></td>
            <td>
                <a class="btn-link" href="/families/view/<%= item.uid %>"><%= item.name %></a>
            </td>
            <td><%= (item.hasOwnProperty('points') ? item.points : 0)%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-muted small">No families configured. Talk to the <a href="mailto:technology@reckclub.org">RRC Technology Chair</a> for more information.</p>
    <% } %>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>

</body>

</html>
