<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="jumbotron mb-3">
        <div class="row">
            <div class="col-4">
                <h3 class="text-center jumbotron-third-title">Points</h3>
                <h1 class="text-center jumbotron-third-detail">
                    <% if (user.events) {
                        var total = 0;
                        user.events.forEach(function(id) {
                            var event = events.find(function(item) {
                                return item.id == id;
                            });
                            if (event) {
                                total += parseInt(event.points);
                            }
                        });
                    %>
                        <%= total %>
                    <% } else { %>
                        0
                    <%} %>
                </h1>
            </div>
            <div class="col-4">
                <h3 class="text-center jumbotron-third-title">Rank</h3>
                <h1 class="text-center jumbotron-third-detail">N/A</h1>
            </div>
            <div class="col-4">
                <h3 class="text-center jumbotron-third-title">Events</h3>
                <h1 class="text-center jumbotron-third-detail"><%= (user.hasOwnProperty('events') ? user.events.length : 0) %></h1>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <h2>Events</h2>
    <table class="table table-responsive-lg mb-3">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
        </tr>
        </thead>
        <tbody>
        <% events.sort(function(a, b) {
            a = new Date(a.date);
            b = new Date(b.date);
            return a > b ? -1 : a < b ? 1 : 0;
        });%>
        <% if (events.length > 0) { %>
            <% events = events.slice(0, 5) %>
            <% events.forEach(function(item) { %>
                <tr>
                    <% var checked = false;
                        if (user.hasOwnProperty('events') && user.events.indexOf(item.id) != -1) {
                            checked = true;
                        }
                    %>
                    <th>
                        <% if (checked) { %>
                        <input type="checkbox" aria-label="Checkbox for event <%=item.id%>" checked="true">
                        <% } else { %>
                        <input type="checkbox" aria-label="Checkbox for event <%=item.id%>">
                        <% } %>
                    </th>
                    <td><%= moment(item.date).format("M/D") %></td>
                    <td>
                        <% if (user.isAdmin) { %>
                        <a class="btn-link" href="/event/<%= item.id %>"><%= item.name %></a> 
                        <% } else { %>
                        <%= item.name %>
                        <% } %>
                        <% if (item.bonus) { %> <span class="text-muted">(BONUS)</span> <% } %> <% if (item.family) { %> <span class="text-muted">(FAMILY)</span> <% } %> <span class="badge badge-primary"><%= item.type %></span>
                    </td>
                    <td><%= item.points %></td>
                </tr>
            <%});%>
        <% } %>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg-auto">
        </div>
        <div class="col-lg-auto justify-content-end">
            <a href="/events" class="btn btn-outline-secondary mr-2">View All Events</a>
            <button type="button" class="btn btn-primary float-right">Submit</button>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
</body>

</html>
