<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The online home of the Ramblin' Reck Club, a campus organization at the Georgia Institute of Technology dedicated to the promotion of Georgia Tech traditions and spirit and responsible for the Institute's mascot car - the Ramblin' Reck.">
    <meta name="author" content="Ramblin' Reck Club">

    <title><%= title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="py-3 text-center">
        <img class="d-block mx-auto mb-4" src="/img/brand/official-logo.png" alt="" width="100" height="100">
        <h2>Update event</h2>
        <p class="lead">Make sure your new event meets the requirements laided out in the <a href="/">points rules</a>.</p>
    </div>
    <div class="message-space row"></div>
    <div class="row">
        <div class="offset-xl-1 col-xl-10 offset-lg-2 col-lg-8 offset-md-3 col-md-6">
            <h4 class="mb-3">Event Details</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="event-name">Event name</label>
                        <input type="text" class="form-control" id="event-name" placeholder="" value="<%= event.name %>" required="" size="32" maxlength="32">
                        <div class="invalid-feedback">
                            Valid event name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="event-type">Type</label>
                        <select class="custom-select d-block w-100" id="event-type" required="">
                            <option value="social"
                            <% if ("social" == event.type) { %>
                            <% %>
                            selected="selected"
                            <% } %>
                            >Social</option>
                            <option value="work"
                                    <% if ("work" == event.type) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            >Work</option>
                            <option value="sports"
                                    <% if ("sports" == event.type) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            >Sports</option>
                            <option value="mandatory"
                                    <% if ("mandatory" == event.type) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            >Mandatory</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid type.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="event-points">Points</label>
                        <input type="text" class="form-control" id="event-points" value="<%= event.points %>" name="event-points" size="3" maxlength="3" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="event-month">Month</label>
                        <select class="custom-select d-block w-100" id="event-month" required="">
                            <% var months = ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                            <% months.forEach(function(month) { %>
                            <option value="<%= month %>"
                                    <% if (month == moment(event.date).format('MMMM')) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            ><%= month %></option>
                            <%});%>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid month.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="event-day">Day</label>
                        <select class="custom-select d-block w-100" id="event-day" required="">
                            <% for (var i = 1; i < 32; i++) { %>
                            <option value="<%= i %>"
                                    <% if (i == moment(event.date).format('D')) { %>
                                    <% %>
                                    selected="selected"
                                    <% } %>
                            ><%= i %></option>
                            <%}%>
                        </select>
                        <div class="invalid-feedback">
                            Event day required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="event-year">Year</label>
                        <select class="custom-select d-block w-100" id="event-year" required="">
                            <% var year = moment(event.date).format('YYYY'); %>
                            <option selected="selected" value="<%= year %>"><%=year %></option>
                        </select>
                        <div class="invalid-feedback">
                            Event year required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="family-event" <% if (event.family == true || event.family === 'true') {%>
                           checked="checked"
                            <% } %>
                    >
                    <label class="custom-control-label" for="family-event">Family event?</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="bonus-event" <% if (event.bonus == true || event.bonus === 'true') {%>
                           checked="checked"
                            <% } %>>
                    <label class="custom-control-label" for="bonus-event">Bonus event?</label>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <button class="btn btn-outline-danger btn-lg btn-block" id="delete-event-button">Delete event</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Update event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%- include partials/scripts.ejs %>
<script>
    $('#delete-event-button').on('click', function(e) {
        e.preventDefault();
        var confirmDelete = confirm('Are you sure you want to delete this event? You will not be able to undo this action.');
        if (confirmDelete) {
            $.ajax({
                url: '/events/delete/<%= event.id %>',
                type: 'DELETE',
                success: function(result) {
                    console.log(result);
                    window.location.replace('/points');
                },
                error: function(error) {
                    console.log(error);
                    $('.message-space').html("    <div class=\"alert alert-danger alert-dismissible show fade\" role=\"alert\">\n" +
                        "        <strong>Error!</strong> <span id=\"error-message\">" + error.responseJSON.detailedMessage.message + "</span>\n" +
                        "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                        "            <span aria-hidden=\"true\">&times;</span>\n" +
                        "        </button>\n" +
                        "    </div>");
                }
            });
            console.log('delete kicked off');
        }
    });

    function updateEvent() {
        $.ajax({
            url: '/events/update/<%= event.id %>',
            type: 'PUT',
            data: {
                name: $('#event-name').val().substring(0,32),
                type: $('#event-type').val(),
                points: $('#event-points').val(),
                date: moment($('#event-month').val() + ' ' + $('#event-day').val() + ', ' + $('#event-year').val()).format(),
                family: ($('#family-event').is(':checked') == true) ? true : false,
                bonus: ($('#bonus-event').is(':checked') == true) ? true : false
            },
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            success: function(result) {
                console.log(result);
                window.location.replace('/points');
            },
            error: function(error) {
                console.log(error);
                $('.message-space').html("    <div class=\"alert alert-danger alert-dismissible show fade\" role=\"alert\">\n" +
                    "        <strong>Error!</strong> <span id=\"error-message\">" + error.responseJSON.detailedMessage.message + "</span>\n" +
                    "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                    "            <span aria-hidden=\"true\">&times;</span>\n" +
                    "        </button>\n" +
                    "    </div>");
            }
        });
    }

    function updatePointValue() {
        var type = $('#event-type').val();
        var pointValue = 0;
        switch (type) {
            case "mandatory":
                pointValue = 5;
                break;
            case "social":
            case "sports":
                pointValue = 10;
                break;
            case "work":
                pointValue = 15;
                break;
        }
        if ($('#bonus-event').is(':checked')) {
            pointValue *= 2;
        }
        $('#event-points').val(pointValue);
    }

    $('#event-type').on('change', function(event) {
        updatePointValue();
    });

    $('#bonus-event').on('change', function(event) {
        updatePointValue();
    });

    window.onload = function() {
        updatePointValue();
    };

    (function() {
        'use strict';

        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    if (form.checkValidity() === false) {
                        event.stopPropagation();
                    } else {
                        updateEvent();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


</body></html>