<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<%- include partials/header.ejs %>
<div class="container mb-3">
    <div class="row justify-content-between">
        <h2 class="col-auto">
            <% if (selectedUser.fullName.length > 0) { %>
                <%= selectedUser.fullName %>
            <% } else if (selectedUser.username.length > 0) { %>
                <%= selectedUser.username %>
            <% } else if (selectedUser.email.length > 0) { %>
                <%= selectedUser.email %>
            <% } else { %>
                Unknown
            <% } %>
            <% if (selectedUser.uid === user.uid) {%>
            <span><a class="btn btn-outline-primary btn-sm" href="/members/update/<%= selectedUser.uid %>">Edit</a></span>
            <% } %>
        </h2>
    </div>
</div>
<div class="container mb-3">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h5 class="mb-3">Contact Information</h5>
            <h6 class="mb-2"><strong>Phone number:</strong> <a href="tel://<%= selectedUser.phoneNumber %>"><%= selectedUser.phoneNumber %></a></h6>
            <h6 class="mb-2"><strong>Email address:</strong> <a href="mailto:<%= selectedUser.email %>"><%= selectedUser.email %></a></h6>
            <h6 class="mb-2"><strong>Address:</strong> <%= selectedUser.streetAddress %>, <%= selectedUser.city %>, <%= selectedUser.state %> <%= selectedUser.zipCode %> </h6>
        </div>
        <div class="col-md-6 mb-3">
            <h5 class="mb-3">Member Information</h5>
            <h6 class="mb-2"><strong>Birthday:</strong> <%= moment(selectedUser.birthDate).format('MMMM DD, YYYY') %></h6>
            <h6 class="mb-2"><strong>Status:</strong> <%= selectedUser.status.charAt(0).toUpperCase() + selectedUser.status.slice(1) %></h6>
            <h6 class="mb-2"><strong>Graduation Date:</strong> <%= selectedUser.gradMonth %> <%= selectedUser.gradYear %></h6>
        </div>
    </div>
    <h4 class="mb-3">Statistics</h4>
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="chart-container" style="width:100%">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <h5 class="mb-3">Overview</h5>
            <h6 class="mb-2"><strong>Total Points:</strong> <%= selectedUser.points %></h6>
            <h6 class="mb-2"><strong>Probate Points Average:</strong> 0</h6>
            <h6 class="mb-2"><strong>Member Points Average:</strong> 0</h6>
            <h6 class="mb-2"><strong>RRC Points Average:</strong> 0</h6>
            <hr class="mb-4">
            <h5 class="mb-3">Breakdown</h5>
            <h6 class="mb-2"><strong style="color: rgba(32, 158, 66, 1);">Work:</strong> <span id="work-count"></span></h6>
            <h6 class="mb-2"><strong style="color: rgba(14, 94, 203, 1);">Social:</strong> <span id="social-count"></span></h6>
            <h6 class="mb-2"><strong style="color: rgba(254, 202, 46, 1);">Sports:</strong> <span id="sports-count"></span></h6>
            <h6 class="mb-2"><strong style="color: rgba(190, 190, 190, 1);">Mandatory:</strong> <span id="mand-count"></span></h6>
            <h6 class="mb-2"><strong>Total:</strong> <span id="total-count"></span></h6>
        </div>
    </div>
    <hr class="mb-3">
    <h4 class="mb-3">Attended Events</h4>
    <div class="row">
        <table class="table table-responsive-md mb-3">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Points</th>
            </tr>
            </thead>
            <tbody>
            <% user.events.sort(function(a, b) {
                a = new Date(a.date);
                b = new Date(b.date);
                return a > b ? -1 : a < b ? 1 : 0;
            });%>
            <% if (user.events.length > 0) { %>
            <% user.events.forEach(function(item) { %>
            <tr id="event-<%= item.id %>">
                <td>
                    <% if (selectedUser.isAdmin || selectedUser.isEventAdmin) { %>
                    <a class="btn-link" href="/events/update/<%= item.id %>"><%= item.name %></a>
                    <% } else { %>
                    <%= item.name %>
                    <% } %>
                    <% if (item.bonus == true || item.bonus === 'true') { %> <span class="text-muted">(BONUS)</span> <% } %> <% if (item.family == true || item.family === 'true') { %> <span class="text-muted">(FAMILY)</span> <% } %> <span class="badge badge-primary"><%= item.type %></span>
                </td>
                <td><%= moment(item.date).format("M/D") %></td>
                <td><%= item.points %></td>
            </tr>
            <%});%>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
<script src="/js/Chart.min.js"></script>
<script>
    var userEvents = <%- selectedUser.hasOwnProperty('events') ? JSON.stringify(selectedUser.events) : JSON.stringify([]) %>;
    var sum = userEvents.length;
    var total = 2; // REMINDER: REPLACE WITH ACTUAL VALUE; IMPORT EVENTS LIST OR AT LEAST TOTAL
    // REMINDER: NEED TO RETRIEVE POINT AVGS FOR MEMBERS, PROBATES, AND RRC
    var socialCount = userEvents.filter(function(item) {
        return item.type == 'social';
    }).length;
    $('#social-count').empty().append('' + socialCount);

    var workCount = userEvents.filter(function(item) {
        return item.type == 'work';
    }).length;
    $('#work-count').empty().append('' + workCount);

    var mandCount = userEvents.filter(function(item) {
        return item.type == 'mandatory';
    }).length;
    $('#mand-count').empty().append('' + mandCount);

    var sportsCount = userEvents.filter(function(item) {
        return item.type == 'sports';
    }).length;
    $('#sports-count').empty().append('' + sportsCount);

    var pct = ((sum / total) * 100).toFixed(1) + "%";
    $('#total-count').empty().append('' + sum + ' / ' + total + ' (' + pct + ')');

    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Work", "Social", "Sports", "Mandatory"],
            datasets: [{
                label: 'Events by Category',
                data: [workCount, socialCount, sportsCount, mandCount],
                backgroundColor: [
                    'rgba(32, 158, 66, 0.2)',
                    'rgba(14, 94, 203, 0.2)',
                    'rgba(254, 202, 46, 0.2)',
                    'rgba(190, 190, 190, 0.2)'
                ],
                borderColor: [
                    'rgba(32, 158, 66, 1)',
                    'rgba(14, 94, 203, 1)',
                    'rgba(254, 202, 46, 1)',
                    'rgba(190, 190, 190, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                position: 'right'
            }
        }
    });
</script>
</body>