<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<%- include partials/header.ejs %>
<div class="container mb-3">
    <div class="row justify-content-between">
        <h2 class="col-auto">
            <%= family.name %> <span class="text-muted"><%= item.points %></span>
            <% if (user.isAdmin) {%>
            <span><a class="btn btn-outline-primary btn-sm" href="/families/update/<%= family.id %>">Edit</a></span>
            <% } %>
        </h2>
    </div>
</div>
<div class="container mb-3">
    <h4 class="mb-3">Members</h4>
    <table class="table table-responsive-xs mb-3">
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col" style="text-align: right;">Points</th>
        </tr>
        </thead>
        <tbody>
        <% family.members.sort(function(a, b) {
            if (a.hasOwnProperty('points')) {
                return (a.points > b.points) ? -1 : (a.points < b.points ? 1 : (a.firstName < b.firstName) ? -1 : (a.firstName > b.firstName) ? 1 : (a.lastName < b.lastName) ? -1 : (a.lastName > b.lastName) ? 1 : 0);
            } else {
                return (a.firstName < b.firstName) ? -1 : (a.firstName > b.firstName) ? 1 : (a.lastName < b.lastName) ? -1 : (a.lastName > b.lastName) ? 1 : 0;
            }
        });%>
        <% if (family.members.length > 0) { %>
        <% family.members.forEach(function(item, idx) { %>
        <tr>
            <td><%= (idx + 1) %></td>
            <td>
                <a class="btn-link" href="/members/view/<%= item.uid %>"><%= item.fullName %></a>
                <span class="badge badge-primary"><%= item.status %></span>
            </td>
            <td><%= (item.hasOwnProperty('points') ? item.points : 0)%></td>
        </tr>
        <%});%>
        <% } %>
        </tbody>
    </table>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>

</body>